// font-weight
$black: 900;
$bold: 700;
$medium: 500;

// font-size
$h1-fz: 80px;
$h2-fz: 64px;
$pLarge-fz: 24px;
$pSmall-fz: 20px;

// line-height
$p-lh-large: 42px;
$p-lh-medium: 36px;
$p-lh-small: 30px;

// padding
$h2-pt: 56px;
$aboutLi-padding: 28px;
$workLi-pb: 48px;
$imgText-between: 16px;